In [1]:
import math
import numpy as np
import pandas as pd
import datetime as dt
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
import re
plt.style.use('dark_background')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)
import difflib

In [2]:
# Remove top and bottom columns
# Fill out State column
# Remove commas from all numbers and turn to int dtype

def clean_df(file):
    cur_df = pd.read_excel(file)
    cur_df

    for i in cur_df.index:
        if cur_df.loc[i, :].isna().sum()>10:
            cur_df.drop(index=i, axis=0, inplace=True)

    cur_df.reset_index(inplace=True)
    cur_df.drop("index", axis=1, inplace=True)    
    cur_df.iloc[0, :] = cur_df.iloc[0, :].str.replace("-", " ", regex=True)
    cur_df.iloc[0, :] = cur_df.iloc[0, :].str.replace(" +", "_", regex=True)
    cur_df.iloc[0, :] = cur_df.iloc[0, :].str.replace("\n", "_", regex=True)
    cur_df.columns = cur_df.iloc[0, :].str.replace("[0-9]", "", regex=True)
    cur_df.drop(0, axis=0, inplace=True)


    state = list(cur_df["State"])
    for i in range(len(state)):
        if type(state[i])==float:
            state[i] = state[i-1]
    cur_df["State"] = state
    cur_df["State"] = cur_df["State"].str.replace("[^a-z A-Z]", "", regex=True)
    cur_df[cur_df.columns[1]] = cur_df[cur_df.columns[1]].str.replace("[0-9]", "", regex=True)
    
    cur_df.rename(columns={"Violent\ncrime":"Violent_crime", "Property\ncrime": "Property_crime"}, 
                 inplace=True)
    cur_df.rename(columns={"Violent crime":"Violent_crime", "Property crime": "Property_crime"}, 
                 inplace=True)
    
    cur_df["Year"] = cur_df["Year"]=np.repeat(int(file[14:18]), len(cur_df))

    return cur_df

In [3]:
# Inefficient 

# for i in cur_df.index:
#     if cur_df.isna().loc[i, "State"]==1:
#         cur_df.loc[i, "State"] = cur_df.loc[i-1, "State"]

In [3]:
# in the future use os.listdir to systematically load files. Place all necessary files into the same
# sub directory.
df_2005 = clean_df("State_by_City_2005.xls")
df_2006 = clean_df("State_by_City_2006.xls")
df_2007 = clean_df("State_by_City_2007.xls")
df_2008 = clean_df("State_by_City_2008.xls")
df_2009 = clean_df("State_by_City_2009.xls")
df_2010 = clean_df("State_by_City_2010.xls")
df_2011 = clean_df("State_by_City_2011.xls")
df_2012 = clean_df("State_by_City_2012.xls")
df_2013 = clean_df("State_by_City_2013.xls")
df_2014 = clean_df("State_by_City_2014.xls")
df_2015 = clean_df("State_by_City_2015.xls")
# on the FBI crime database from 2005-2019 every by-city info was listed as Table 8 except 2016, 
# where it was listed as Table 6 for some reason.
df_2016 = clean_df("State_by_City_2016.xls")
df_2017 = clean_df("State_by_City_2017.xls")
df_2018 = clean_df("State_by_City_2018.xls")
df_2019 = clean_df("State_by_City_2019.xls")

In [4]:
df_2005_f = df_2005.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2006_f = df_2006.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2007_f = df_2007.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2008_f = df_2008.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2009_f = df_2009.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2010_f = df_2010.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2011_f = df_2011.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2012_f = df_2012.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2013_f = df_2013.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2014_f = df_2014.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2015_f = df_2015.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2016_f = df_2016.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2017_f = df_2017.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2018_f = df_2018.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2019_f = df_2019.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]

In [5]:
def clean_df2(file):
    cur_df = pd.read_excel(file)
    cur_df["State"] = ""
    cur_df.replace({" ": np.nan, "-": 0}, inplace=True)

    for i in cur_df.index:
        if cur_df.loc[i, :].isna().sum() > cur_df.shape[1]-3:
            cur_df.loc[i, "State"] = cur_df.iloc[i, 0]

    state = list(cur_df["State"])
    for i in range(len(state)):
        if (state[i]=="") or (type(state[i])==float):
            state[i]=state[i-1]
    cur_df["State"] = state

    for i in cur_df.index:
        if cur_df.loc[i, :].isna().sum()>10:
            cur_df.drop(index=i, axis=0, inplace=True)

    cur_df.reset_index(inplace=True)
    cur_df.drop("index", axis=1, inplace=True)
    cur_df.iloc[0, :] = cur_df.iloc[0, :].str.replace("[^a-zA-Z]", "", regex=True)
    cur_df.columns = cur_df.iloc[0, :]

    cur_df.drop(0, axis=0, inplace=True)
    cur_df.rename(columns={"City by state": "City", cur_df.columns[-1]:"State"}, inplace=True)
    cur_df[cur_df.columns[0]] = cur_df[cur_df.columns[0]].str.replace("[^a-zA-Z ]", "", regex=True)
    cur_df["State"] = cur_df["State"].str.replace("[^a-z A-Z]", "", regex=True)
    
    cur_df["Year"]=np.repeat(int(file[21:25]), len(cur_df))

    return cur_df

In [6]:
df_1999_o = clean_df2("State_by_City_o10000_1999.xls")
df_2000_o = clean_df2("State_by_City_o10000_2000.xls")
df_2001_o = clean_df2("State_by_City_o10000_2001.xls")
df_2001_u = clean_df2("State_by_City_u10000_2001.xls")
df_2002_o = clean_df2("State_by_City_o10000_2002.xls")
df_2002_u = clean_df2("State_by_City_u10000_2002.xls")
df_2003_o = clean_df2("State_by_City_o10000_2003.xls")
df_2003_u = clean_df2("State_by_City_u10000_2003.xls")
df_2004_o = clean_df2("State_by_City_o10000_2004.xls")
df_2004_u = clean_df2("State_by_City_u10000_2004.xls")

In [7]:
for df in [df_2001_o, df_2001_u, df_2002_o, df_2002_u, df_2003_o, df_2003_u, df_2004_o, df_2004_u]:
    df.rename(columns={"Citybystate": "City"}, inplace=True)
    df["Violent_crime"] = ""
    df["Property_crime"] = ""
    df["Violent_crime"] = df.Murderandnonnegligentmanslaughter+df.Forciblerape+df.Robbery+df.Aggravatedassault
    df["Property_crime"] = df.Burglary+df.Larcenytheft+df.Motorvehicletheft

In [8]:
df_2001_o_f = df_2001_o.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2001_u_f = df_2001_u.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2002_o_f = df_2002_o.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2002_u_f = df_2002_u.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2003_o_f = df_2003_o.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2003_u_f = df_2003_u.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2004_o_f = df_2004_o.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]
df_2004_u_f = df_2004_u.loc[:, ["Year", "State", "City", "Population", "Violent_crime", "Property_crime"]]

In [9]:
df_2001_f = pd.concat([df_2001_o_f, df_2001_u_f], axis=0)
df_2002_f = pd.concat([df_2002_o_f, df_2002_u_f], axis=0)
df_2003_f = pd.concat([df_2003_o_f, df_2003_u_f], axis=0)
df_2004_f = pd.concat([df_2004_o_f, df_2004_u_f], axis=0)

In [10]:
for df in [df_2001_o_f, df_2001_u_f, df_2002_o_f, df_2002_u_f, df_2003_o_f, df_2003_u_f, df_2004_o_f,
           df_2004_u_f, df_2005_f, df_2006_f, df_2007_f, df_2008_f, df_2009_f, df_2010_f, df_2011_f, df_2012_f, 
           df_2013_f,df_2014_f, df_2015_f, df_2016_f, df_2017_f, df_2018_f, df_2019_f]:
    print(df.isnull().sum())

0
Year               0
State              0
City               0
Population         0
Violent_crime     21
Property_crime     0
dtype: int64
0
Year               0
State              0
City               0
Population         0
Violent_crime     18
Property_crime     2
dtype: int64
0
Year               0
State              0
City               0
Population        13
Violent_crime     19
Property_crime     0
dtype: int64
0
Year               0
State              0
City               1
Population         2
Violent_crime     19
Property_crime     1
dtype: int64
0
Year               0
State              0
City               0
Population         1
Violent_crime     20
Property_crime     4
dtype: int64
0
Year              0
State             0
City              0
Population        1
Violent_crime     8
Property_crime    0
dtype: int64
0
Year               0
State              0
City               0
Population         0
Violent_crime     22
Property_crime     2
dtype: int64
0
Year              0
State             0
City              0
Population        2
Violent_crime     8
Property_crime    0
dtype: int64
0
Year               0
State              0
City               0
Population         4
Violent_crime     29
Property_crime     5
dtype: int64
0
Year                0
State               0
City                0
Population          1
Violent_crime     236
Property_crime     14
dtype: int64
0
Year                0
State               0
City                0
Population          2
Violen

In [11]:
df_f = pd.concat([df_2001_f, df_2002_f, df_2003_f, df_2004_f, df_2005_f, df_2006_f, df_2007_f, df_2008_f,
                df_2009_f, df_2010_f, df_2011_f, df_2012_f, df_2013_f, df_2014_f, df_2015_f, df_2016_f,
                df_2017_f, df_2018_f, df_2019_f], axis=0)
df_f.reset_index(inplace=True)
df_f.drop("index", axis=1, inplace=True)

In [12]:
# there are different data types in columns that are labelled object 
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166852 entries, 0 to 166851
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Year            166852 non-null  int32
 1   State           166852 non-null  object
 2   City            166851 non-null  object
 3   Population      166801 non-null  object
 4   Violent_crime   164506 non-null  object
 5   Property_crime  166579 non-null  object
dtypes: int32(1), object(5)
memory usage: 7.0+ MB

In [20]:
df_f.isna().sum()

0
Year                 0
State                0
City                 1
Population          51
Violent_crime     2346
Property_crime     273
dtype: int64

In [21]:
# there is a nan in one of the City cells

for i in range(len(df_f)):
    if type(df_f.loc[i, "City"])==float:
        print(df_f.loc[i, :])

df_2002_u_f[df_2002_u_f["State"]=="MASSACHUSETTS"].head(140)

# issue stems from this section of the original loaded excel file. 
cur_df = pd.read_excel("State_by_City_u10000_2002.xls")
cur_df[cur_df["Unnamed: 1"]=="KNOWN TO"]
cur_df.loc[1348:1355, :]

0
Year                       2002
State             MASSACHUSETTS
City                        NaN
Population             KNOWN TO
Violent_crime               NaN
Property_crime              NaN
Name: 11329, dtype: object

        Table 8A Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
1348    Boylston       4058         34         34          0          0
1349         NaN   KNOWN TO       1902       1902  ER 10,000   AND OVER
1350  Charlemont       1375          9          9          0          0
1351     Chatham       6707        161        161          0          2
1352    Cheshire       3443         12         12          0          0
1353    Cohasset       7351         88         88          0          0
1354  Cummington        990          4          4          0          0
1355      Dalton       6978        100        100          0          0

     Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
1348          0          0         11         23           0           0
1349   IN POPUL        NaN       1902        NaN         NaN           0
1350          0          1          1          7           0           0
1351          1          7         23        124           4           0
1352          0          0          6          6           0           0
1353          1         13         21         48           5           0
1354          0          0          1          3           0           0
135

In [22]:
df_f = df_f.drop(11329, axis=0).reset_index()
df_f.drop("index", axis=1, inplace=True)

In [24]:
# Basically the only columns left with missing values are Population, Violent_crime, and Property_crime
# Population will be delt with, but the annotations from the data source (FBI) have stated that
# some data are not provided because of various sourcing issues (inconsistency, lack of data, etc.)
# Therefore, those missing values will be labelled with some standardized arbitrary value (I'm 
# considering a negative value) to signify unknown data. 

for i in range(len(df_f)):
    if any(df_f.loc[i, :].isna())==True:
        print(df_f.loc[i, :])

0
Year                  2001
State             ILLINOIS
City                Aurora
Population          143715
Violent_crime          NaN
Property_crime        5092
Name: 764, dtype: object
0
Year                  2001
State             ILLINOIS
City               Chicago
Population         2910709
Violent_crime          NaN
Property_crime      151156
Name: 765, dtype: object
0
Year                  2001
State             ILLINOIS
City                Joliet
Population          106760
Violent_crime          NaN
Property_crime        4402
Name: 766, dtype: object
0
Year                    2001
State               ILLINOIS
City              Naperville
Population            129009
Violent_crime            NaN
Property_crime          2385
Name: 767, dtype: object
0
Year                  2001
State             ILLINOIS
City                Peoria
Population          113509
Violent_crime          NaN
Property_crime        8421
Name: 768, dtype: object
0
Year                  2001
State             ILLINOIS
City              Rockford
Population          150877
Violent_crime          NaN
Property_crime       11662
Name: 769, dtype: object
0
Year                     2001
State                ILLINOIS
City              Springfield
Population             112019
Violent_crime             NaN
Property_crime           7614
Name: 770, dtype: object
0
Year                 2001
State                IOWA
City              Dubuque
Population          57624
Violent_crime         NaN
Property_crime

In [26]:
# These entries are all labelled as either Police or Sheriff, and the data provided are all
# insignificant in relation to the annual record of crimes from a city-level department.
# Without further documentaiton, it makes sense to exclude them.
df_f = df_f.drop([9858, 9863, 9866, 9868, 9874, 9876, 9878, 9881, 9883, 9886, 9889, 9892, 9894, 14542, 15958, 
           33480, 41639, 67688, 77166, 86456, 95920, 105365, 114622, 133510, 142963, 152343, 161387], 
          axis=0).reset_index()
df_f.drop("index", axis=1, inplace=True)

# The remaining entries with unknown population are all extremely small rural settlements.
# I will manually fill in the approx. population.

In [27]:
# Manually replace missing values for population. Avg population was used when actual data for that 
# year could not be found via US census data.
i = df_f[df_f["Population"].isnull()==True].index
df_f.loc[i, "Population"] = [230, 230, 2300, 230, 2300, 230, 1094, 230, 
            1094, 600, 2300, 230, 1094, 270, 839, 213, 1255, 1008, 343, 777, 957, 217, 1302, 1294]

In [28]:
df_f.fillna(-1000, inplace=True)

In [29]:
df_f.State = df_f.State.str.rstrip()
df_f["State"].unique()

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DELAWARE', 'DISTRICT OF COLUMBIA',
       'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA',
       'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND',
       'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI',
       'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE',
       'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA',
       'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA',
       'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON',
       'WEST VIRGINIA', 'WISCONSIN', 'WYOMING'], dtype=object)

In [ ]:
# IMPORTANT: Update the final csv before next step in cleaning. 
df_f.to_csv("State_by_City_2001-2019.csv")

In [30]:
df_f = pd.read_csv("State_by_City_2001-2019.csv", header=0, index_col=0, 
                 dtype={"Year": str, "State": str, "City": str, "Population": str,
                        "Violent_crime": str, "Property_crime": str})
# Some cells have " " instead of NaN, which also represents unincluded data.
# Use regex to find all entries that have only whitespaces of any length. First turn all cells into str
for i in range(len(df_f)):
    for j in df_f.columns:
        if re.match("\A\s*\Z", df_f.loc[i, j])!=None:
            print(df_f.loc[i, :])

In [31]:
for i in range(len(df_f)):
    for j in df_f.columns:
        if re.match("\A\s*\Z", df_f.loc[i, j])!=None:
            df_f.loc[i, j] = -1000

In [131]:
df_f.to_csv("State_by_City_2001-2019.csv")